{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
{{ news_details.title }}
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <div class="card mb-4">
                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
                <div class="card-body">
                    <div class="small text-muted">{{ news_details.datetime|date:'d-m-Y' }} {{ news_details.datetime|time:'H:i' }}</div>
                    <h2 class="card-title">{{ news_details.title|censor }}</h2>
                    <p class="card-text">{{ news_details.text|censor }}</p>
                    <p>{% for cat in news_details.category.all %}
                        {{ cat }}
                        {% endfor %}
                    </p>
                    <p>{{ news_details.rating }}</p>
                    <br>
                    <p><a class="btn btn-primary" href="{% url 'update_post' news_details.id %}">Редактировать пост</a></p>
                    <p><a class="btn btn-primary" href="{% url 'delete_post' news_details.id %}">Удалить пост</a></p>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
