{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Все новости
{% endblock title %}

{% block content %}


<div class="container">
    <div class="row">

        <!-- Blog entries-->
        <h1>Список новостей</h1>
        <p>Всего новостей на странице: {{ news | length }}</p>
        <p>
        <form method="GET">
            {{ filter.form }}
            <input type="submit" value="Найти">
        </form>
        <p>
        <div class="col-lg-8">
            <!-- Featured blog post-->
                {% for news in filter.qs %}
                <div class="card mb-4">
                    <a href="{{ news.id }}"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
                    <div class="card-body">
                        <div class="small text-muted">{{ news.datetime|date:'d M Y' }}</div>
                        <h2 class="card-title">{{ news.title|censor }}</h2>
                        <p class="card-text">{{ news.text|truncatewords:50|censor }}</p>
                        <a class="btn btn-primary" href="{% url 'post_details' news.id %}">Полный текст →</a>
                    </div>
                </div>
                {% endfor %}

        </div>
    </div>
</div>


{% endblock content %}
